<%= content_for :menu do %>
<%= icon_to 'navigation90.png', members_path, title:'Liste des membres' %>
<%= icon_to 'detail.png', @member, title:'Coordonnées' %>

<% end -%>

<div class="champ">
  <h3>Modification <%=  I18n.t('member') %></h3>

  <div class="inner-champ">
    <%= render 'form' %>
  </div>
</div>


