<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_member_path %>
<%= icon_to 'detail.png', @member %>
<%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>Modification <%=  I18n.t('member') %></h3>
</div>
  <div class="inner-champ">
    <%= render 'form' %>
  </div>



