<%= content_for :menu do %>
<%= icon_to 'users.png', members_path, title:'Liste des membres' %>
<%= icon_to 'card-address.png', member_coord_path(@member), title:'Coordonnées' %>

<% end -%>

<div class="champ">
  <h3>Modification <%=  I18n.t('member') %></h3>

  <div class="inner-champ">
    <%= render 'form' %>
  </div>
</div>


