<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_member_path %>
<% end -%>


<div class="champ">


  <h3> Liste des  <%= I18n::t('members') %></h3>
<table class="table table-striped table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
<thead>
  <tr>
  
    <th><%= I18n::t('number') %></th>
  
    <th><%= I18n::t('name') %></th>
  
    <th><%= I18n::t('forname') %></th>
  
    <th><%= I18n::t('birthdate') %></th>
    
    <th><%= I18n::t('mail') %></th>
    <th><%= I18n::t('tel') %></th>
  
    <th>Actions</th>
    
  </tr>
</thead>
<tbody> 
<% @members.each do |member| %>
  <tr>
    <td><%= member.number %></td>
    <td><%= member.name %></td>
    <td><%= member.forname %></td>
    <td><%= l member.birthdate %></td>
    <td><%= member.coord ? member.coord.mail : '' %>
    <td><%= member.coord ? member.coord.tel : '' %>
    <td><%= icon_to 'detail.png', member_coord_path(member) %>
      <%= icon_to 'afficher.png', member_adhesions_path(member), title:'Liste des adhésions' %>
    <%= icon_to 'modifier.png', edit_member_path(member) %>
    <%= icon_to 'supprimer.png', member, :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>


