<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_member_path, title:'Ajouter un membre' %>
<%= icon_to 'payment.png', payments_path, title:'Table des paiements' %>
<% end -%>


<div class="champ">


  <h3>Liste des <%= I18n::t('members') %></h3>
<table class="table display table-striped table-bordered table-condensed" id='members_id' cellpadding="0" cellspacing="0" border="0">
<thead>
  <tr>
  
    <th>Numero </th>
  
    <th><%= I18n::t('name') %></th>
  
    <th><%= I18n::t('forname') %></th>
  
    <th><%= I18n::t('birthdate') %></th>
    
    <th><%= I18n::t('mail') %></th>
    <th><%= I18n::t('tel') %></th>
  
    <th>Actions</th>
    
  </tr>
</thead>
<tbody> 
<% @members.each do |member| %>
  <tr class="<%=  member.unpaid_adhesions? ? 'impaye' : 'ok' %>">
    <td><%= member.number %></td>
    <td><%= member.name %></td>
    <td><%= member.forname %></td>
    <td><%= member.birthdate %></td>
    <td><%= member.coord ? member.coord.mail : '' %>
    <td><%= member.coord ? member.coord.tel : '' %>
    <td><%= icon_to 'card-address.png', member_coord_path(member), title:'Coordonnées', id:"coord_member_#{member.id}" %>
      <%= icon_to 'bandaid.png', member_adhesions_path(member), title:'Liste des adhésions', id:"adhesion_member_#{member.id}"%>
    
    <%= icon_to 'payment.png', member_payments_path(member), title: 'Liste des paiements' , id:"payment_member_#{member.id}"%>
      <%= icon_to 'modifier.png', edit_member_path(member) , id:"edit_member_#{member.id}" %>
    <%= icon_to 'supprimer.png', member, id:"delete_member_#{member.id}", :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>


