
<%= content_for :menu do %>

<%= icon_to 'modifier.png', edit_member_path(@member) %>
<%= icon_to 'detail.png', member_coord_path(@member) %>
<%= icon_to 'navigation90.png', members_path %>
<% end -%>

<div class="champ">
  <h3>Fiche <%=  I18n::t('member') %></h3>
</div>
<div class="row-fluid inner-champ">


<p>
  <b> <%=  I18n::t('number') %> :</b>
  <%= @member.number %>
</p>

<p>
  <b> <%=  I18n::t('name') %> :</b>
  <%= @member.name %>
</p>

<p>
  <b> <%=  I18n::t('forname') %> :</b>
  <%= @member.forname %>
</p>

<p>
  <b> <%=  I18n::t('birthdate') %> :</b>
  <%= l @member.birthdate %>
</p>

</div>

