
<%= content_for :menu do %>
<%= icon_to 'users.png', members_path, title:'Liste des membres' %>
<%= icon_to 'card-address.png', member_coord_path(@member) , title:'Coordonées' %>
<%= icon_to 'modifier.png', edit_member_path(@member) %>


<% end -%>

<div class="champ col-lg-12">
  <h3>Fiche <%=  I18n::t('member') %></h3>

  <div class='inner-champ'>

<p>
  <b>Numéro :</b>
  <%= @member.number %>
</p>

<p>
  <b> <%=  I18n::t('name') %> :</b>
  <%= @member.name %>
</p>

<p>
  <b> <%=  I18n::t('forname') %> :</b>
  <%= @member.forname %>
</p>

<p>
  <b> <%=  I18n::t('birthdate') %> :</b>
  <%=  @member.birthdate %>
</p>

</div>
</div>
