%tr
  %td= payment.date
  %td= number_to_currency(payment.amount, locale: :fr)
  %td= payment.mode
  %td= list_imputations(payment)
  %td= number_to_currency payment.non_impute, locale: :fr

  %td
    - if (payment.non_impute != 0.0)
      = icon_to 'imputation.png', new_payment_reglement_path(payment), title: 'Imputer le solde sur une adhésion'
    = icon_to 'detail.png', member_payment_path(payment.member, payment)