%tr
  %td= payment.date
  %td.numeric= number_to_currency(payment.amount, locale: :fr)
  %td= payment.comment
  %td= payment.mode
  %td= list_imputations(payment)
  - pni = non_impute(payment)
  %td.numeric= number_to_currency pni, locale: :fr

  %td
    - if (pni != 0.0)
      = icon_to 'imputation.png', new_payment_reglement_path(payment), title: 'Imputer le solde sur une adhésion'
    = icon_to 'detail.png', member_payment_path(payment.member, payment)