= content_for :menu do
  = icon_to_users
  = icon_to 'money-plus.png', new_member_payment_path(@member), title:'Nouveau paiement'


.champ
  %h3 Historique des paiements reçus de #{@member.to_s} 
  
  %table.table.table-striped.table-bordered.table-condensed(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th Le
        %th Montant
        %th Par
        %th Imputé sur 
        %th Reste à imputer
        %th Actions
    %tbody
      - @payments.each do |payment|
        %tr
          %td= payment.date
          %td= number_to_currency(payment.amount, locale: :fr)
          %td= payment.mode
          %td= list_imputations(payment)
          %td= number_to_currency payment.non_impute, locale: :fr

          %td
            - if (payment.non_impute != 0.0)
              = link_to 'imputation', new_payment_reglement_path(payment), title: 'Imputer le solde sur une autre adhésion'
            = icon_to 'supprimer.png', [@member,payment], method: :delete, confirm: 'Etes vous sûr ?'