= content_for :menu do
  = icon_to_users
  = icon_to 'money-plus.png', new_member_payment_path(@member), title:'Nouveau paiement'


.champ
  %h3 Historique des paiements reçus de #{@member.to_s} 
  
  %table.table.table-striped.table-bordered.table-condensed(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th Le
        %th Montant
        %th Par
        %th Imputé sur 
        %th Reste à imputer
        %th Actions
    %tbody
      = render @payments