
<%%= content_for :menu do %>

<%%= icon_to 'modifier.png', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %>
<%%= icon_to 'navigation90', <%= table_name %> %>
<%% end -%>

<div class="champ">
  <h3>Fiche <%%= t <%= singular_table_name %> %></h3>
</div>
<div class="row-fluid inner-champ">


<% for attribute in attributes -%>
<p>
  <b><%= t attribute.human_name %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
</div>

