 <div class="inputs">
<%= simple_form_for(@adherent,  :html=> {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

 
    <%= f.input :number,  input_html: {class: "span3"}%>
    <%= f.input :name, input_html: {class: "span3"} %>
   <%= f.input :forname, input_html: {class: "span3"} %>
    
    <%= f.input :birthdate,  input_html: {rows: 4, class: "span3"} %>
    

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary span2"  %>
  </div>
<% end %>
 </div>


