<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_adherent_path %>
<% end -%>

<div class="champ">
<h3>Liste des adhérents</h3>

<table  class="table table-striped table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
  <tr>
    <th>Numéro</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
    
    <th>Actions</th>
   
  </tr>
  </thead>
  
<% @adherents.each do |adherent| %>
  <tr>
    <td><%= adherent.number %></td>
    <td><%= adherent.name %></td>
    <td><%= adherent.forname %></td>
    <td><%= l adherent.birthdate %></td>
    <td><%= icon_to 'detail.png', adherent %>
   <%= icon_to 'modifier.png', edit_adherent_path(adherent) %>
   <%= icon_to 'supprimer.png', adherent, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
</table>

</div>