<%= content_for :menu do %>
  <%= icon_to 'modifier.png', edit_adherent_path(@adherent) %>
   <%= icon_to 'navigation90.png', adherents_path %>
<% end -%>


<div class="champ">
  <h3>Fiche adhérent</h3>
</div>
<div class="row-fluid inner-champ">
<p>
  <b>Numéro :</b>
  <%= @adherent.number %>
</p>
<p>
  <b>Nom : </b>
  <%= @adherent.name %>
</p>

<p>
  <b>Prénom : </b>
  <%= @adherent.forname %>
</p>

<p>
  <b>Date de naissance : </b>
  <%= l @adherent.birthdate %>
</p>

</div>
