<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_coord_path %>
<% end -%>


<div class="champ">


  <h3> Liste des  <%= I18n::t('coords') %></h3>
<table class="table table-striped table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
<thead>
  <tr>
  
    <th><%= I18n::t('mail') %></th>
  
    <th><%= I18n::t('tel') %></th>
  
    <th><%= I18n::t('gsm') %></th>
  
    <th><%= I18n::t('office') %></th>
  
    <th><%= I18n::t('address') %></th>
  
    <th><%= I18n::t('zip') %></th>
  
    <th><%= I18n::t('city') %></th>
  
  
  
    <th>Actions</th>
    
  </tr>
</thead>
<tbody> 
<% @coords.each do |coord| %>
  <tr>
    <td><%= coord.mail %></td>
    <td><%= coord.tel %></td>
    <td><%= coord.gsm %></td>
    <td><%= coord.office %></td>
    <td><%= coord.address %></td>
    <td><%= coord.zip %></td>
    <td><%= coord.city %></td>
  
    <td><%= icon_to 'detail.png', member_coord_path(coord.member) %>
    <%= icon_to 'modifier.png', edit_member_coord_path(coord.member) %>
    <%= icon_to 'supprimer.png', coord, :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>


