
<%= content_for :menu do %>
<%= icon_to_users %>
<%= icon_to 'modifier.png', edit_member_coord_path(@member) %>

<% end -%>

<div class="champ">
  <h3>Fiche <%=  I18n::t('coord').pluralize %> <%= "#{@member.to_s}" %></h3>

<div class="inner-champ">


<p>
  <b> <%=  I18n::t('mail') %>:</b>
  <%= @coord.mail %>
</p>

<p>
  <b> <%=  I18n::t('tel') %>:</b>
  <%= @coord.tel %>
</p>

<p>
  <b> <%=  I18n::t('gsm') %>:</b>
  <%= @coord.gsm %>
</p>

<p>
  <b> <%=  I18n::t('office') %>:</b>
  <%= @coord.office %>
</p>

<p>
  <b> <%=  I18n::t('address') %>:</b>
  <%= @coord.address %>
</p>

<p>
  <b> <%=  I18n::t('zip') %>:</b>
  <%= @coord.zip %>
</p>

<p>
  <b> <%=  I18n::t('city') %>:</b>
  <%= @coord.city %>
</p>

</div>
</div>
