<%= content_for :menu do %>

<%= icon_to_users %>
<% end -%>

<div class="champ col-lg-12">
  <h3>Imputation du montant restant (<%=  @payment.non_impute %>) payé par <%=  @member.to_s %></h3>

<div class="inner-champ">

<%= render 'form' %>
</div>
</div>
