<!DOCTYPE html>
<html>
  <head>
    <title>Adherent</title>
    <%= stylesheet_link_tag    "adherent/application", :media => "all" %>
    <%= javascript_include_tag "adherent/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="adherent">

   

      <%= render 'layouts/adherent/header' %>
      <div> <%=  yield :modal %> </div>

      
      <div class="container-fluid" >
     

        
        
      <div id="main-zone">
        

        <div> <%= render 'layouts/adherent/flash_partial' %> </div>
        <div id="message" class="row"></div><%# pour les messages utilisés par produce_pdf.js_erb%> 

        <%= yield %>
        
      </div>
    
    <div class ="push"></div>
    
  </div>
    
    <div class='print'>
      <%= yield :to_print %>
    </div>

  <%= render 'layouts/adherent/footer' %>

</body>
</html>
