<!DOCTYPE html>
<html>
<head>
  <title>Adherent</title>
  <%= stylesheet_link_tag    "adherent/application", :media => "all" %>
  <%= javascript_include_tag "adherent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- pas très bien nommé, la suite affiche les icones -->
<li class="horizontal_icons">
  <%= yield :menu %>
</li>
</ul>
<%= yield %>

</body>
</html>
