<!DOCTYPE html>
<html>
  <head>
    <title>Adherent</title>
    <%= stylesheet_link_tag    "adherent/application", :media => "all" %>
    <%= javascript_include_tag "adherent/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="adherent">

    <div class="container-fluid">

      <%= render 'layouts/adherent/header' %>


      <div class="row">

        <div>

          <ul class="nav nav-tabs" id="menu_general">
            <!-- pas très bien nommé, la suite affiche les icones -->
            <li class="horizontal_icons">
              <%= yield :menu %>
            </li>
          </ul>
        </div>
        <div id="main-zone" class='col-lg-12'>

          <%= render 'layouts/adherent/flash_partial' %>


          <%= yield %>
        </div>
      </div>
    
    <div class ="push"></div>
    
  </div>
    
    <div class='print'>
      <%= yield :to_print %>
    </div>

  <%= render 'layouts/adherent/footer' %>

</body>
</html>
