.inputs.row-fluid#transfer
  = simple_form_for([@member, @adhesion], :html=>{class:'form-inline'})  do |f|
    =f.error_notification
    .row-fluid
      .span12
        = f.input :from_date, wrapper_html:{class:'span2'}, label_html:{class: 'span4'}, input_html:{class:'span8', value:@adhesion.from_date}, :as=>:date_picker
        = f.input :to_date, wrapper_html:{class:'span2'}, label_html:{class: 'span4'}, input_html:{class:'span8', value:@adhesion.to_date}, :as=>:date_picker
        = f.input :amount, wrapper_html:{class:'span2'}, label_html:{class: 'span4'}, input_html:{class:'span8'}
    
    .row-fluid
      .span12
        .form-actions
          = f.button :submit, id: 'new_adhesion', class: "btn-primary span2"