= content_for :menu do
  = icon_to 'navigation90.png', members_path, title:'Liste des membres'
  = icon_to 'nouveau.png', new_member_adhesion_path(@member), title:'Nouvelle adhésion ou renouvellement'


.champ
  %h3 Historique des adhésions pour #{@member.to_s} 
  
  %table.table.table-striped.table-bordered.table-condensed(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th Du
        %th Au
        %th Montant
        %th Actions
    %tbody
      - @adhesions.each do |adhesion|
        %tr
          %td= adhesion.from_date
          %td= adhesion.to_date
          %td= number_to_currency(adhesion.amount, locale: :fr)
          %td
            = icon_to 'modifier.png', edit_member_adhesion_path(@member, adhesion)
            = icon_to 'supprimer.png', [@member,adhesion], method: :delete, confirm: 'Etes vous sûr ?'
            = icon_to('money-plus.png', new_member_payment_path(@member), title:'Enregistrer un réglement') unless adhesion.is_paied?